AUTO_RESTART=true
DELAY_AMOUNT=60000 # in milliseconds
IPFS_GATEWAY=https://ipfs.kleros.io
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=courtBlocks

WEB3_PROVIDER_URL=https://mainnet.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COURT_ADDRESS=0x0000000000000000000000000000000000000000
POLICTY_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
START_BLOCK=10452067 # ideally the block in which the contract was deployed
COURT_MONGO_COLLECTION=court
WEBHOOK_URL=

XDAI_ENABLED=
XDAI_WEB3_PROVIDER_URL=https://rpc.xdaichain.com
XDAI_COURT_ADDRESS=0x0000000000000000000000000000000000000000
XDAI_POLICTY_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
XDAI_START_BLOCK=0
XDAI_COURT_MONGO_COLLECTION=court-xdai
XDAI_WEBHOOK_URL=
